<a href="https://colab.research.google.com/github/Wikanda-Hongboonmee/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน **Textbox** จะเป็นภาษา **Markdown** คือ ใช้เครื่องหมายในการแสดงผล เช่น **#** ตัวใหญ่ * ตัวหนา

**ข้อดีหนึ่งของ Python** คือมี Package สำหรับการทำงานต่างๆมากมายให้เราเลือกใช้ 

ซึ่ง Pandas เป็น Package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบของตาราง 

โดย Pandas จะเรียกตารางนั้นว่า **Data Frame**

In [1]:
import pandas  # เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูล , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package

In [2]:
import pandas as pd  # การ import package อีกแบบหนึ่ง เหมือนกับด้านบน แต่ว่ามีการตั้งชื่อให้กับ Package ที่โหลดมาใหม่ว่า pd

ไฟล์ที่จะได้เจอส่วนใหญ่ในวิชานี้เป็นไฟล์ .csv ( **CSV = comma seperated values** )  เป็นไฟล์หลักที่เราจะได้ใช้ในวิชานี้ 

เป็นไฟล์ที่ใช้เก็บข้อมูลตาราง ที่เข้าใจได้ง่าย ใช้ comma ในการแบ่งข้อมูลแต่ละตัว ใช้ enter ในการแบ่ง record

In [3]:
data_df = pd.read_csv( 'data.csv' )  # เรียกใช้ไฟล์ csv ที่เราต้องการ โดย pd.read_csv ( 'ชื่อไฟล์' )

In [4]:
data_df   # แสดงผลไฟล์ data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [5]:
data_df2 = pandas.read_csv( 'data.csv' ) 
data_df2  # แสดงผลไฟล์ data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

#  Basic Python 
## Variables

**ข้อกำหนดในการตั้งตัวแปร**

1.   ชื่อห้ามมีเว้นวรรค
2.   ใช้ภาษาอังกฤษ ( เป็นไปได้ควรใช้ภาษาอังกฤษเสมอ )
3.   ตัวเล็กกับตัวใหญ่แตกต่างกัน ( case sensitive )
4.    ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12  # สร้างตัวแปรขึ้นมาใหม่โดยกำหนดให้ตัวแปร variable_a มีค่าเท่ากับ 12 (เป็นตัวเลข)
variable_b = ' abcde '   # ' ' เรียกว่า quote เอาไว้ตอนจะพิมพ์ข้อความ (string)
variable_c = variable_a  # ค่าของ variable_c เท่ากับ variable_a เรากำหนดค่าอะไรให้มัน มันจะเปลี่ยนตามตัวแปรนั้นๆ

In [7]:
variable_a

12

In [8]:
variable_b

' abcde '

In [9]:
variable_c

12

In [10]:
variable a = 6  # ชื่อตัวแปรห้ามมีเว้นวรรค

SyntaxError: ignored

In [11]:
ตัวแปร = 3     #  colab ใช้ภาษาไทยในการตั้งชื่อตัวแปรได้แต่ว่าเป็นไปได้ไม่ควรใช้ภาษาไทย
ตัวแปร

3

In [12]:
v_a = 1    # ตัวเล็กกับตัวใหญ่แตกต่างกัน ( case sensitive )
v_A = 2
print(v_a) # เนื่องจากมีตัวแปร 2 ตัว จึงใช้คำสั่ง print เป็นคำสั่งที่ใช้แสดงผลตัวแปร
print(v_A)

1
2

In [13]:
v_a = 1    # ตัวเล็กกับตัวใหญ่แตกต่างกัน ( case sensitive )
v_a = 2    # ค่ามันทับกัน จะแสดงผลค่าล่าสุดที่กำหนดให้แก่ตัวแปรนั้น ๆ 
print(v_a) # เนื่องจากมีตัวแปร 2 ตัว จึงใช้คำสั่ง print เป็นคำสั่งที่ใช้แสดงผลตัวแปร
print(v_a)

2
2

In [14]:
2_a = 1   #  ห้ามใช้ตัวเลขเป็นตัวหน้า

SyntaxError: ignored

In [15]:
variable_a = 12  # สร้างตัวแปรขึ้นมาใหม่โดยกำหนดให้ตัวแปร variable_a มีค่าเท่ากับ 12 (เป็นตัวเลข)
variable_b = ' abcde '   # ' ' เรียกว่า quote เอาไว้ตอนจะพิมพ์ข้อความ (string)
variable_c = variable_a  # ค่าของ variable_c เท่ากับ variable_a เรากำหนดค่าอะไรให้มัน มันจะเปลี่ยนตามตัวแปรนั้นๆ
variable_d = -41.2  # ตัวเลขสามารถอยู่ด้านหลังตัวแปรได้ แต่นำหน้าตัวแปรไม่ได้
variable_4 = "KKU"   # เราสามารถใช้ double quote แทน quote ได้

In [16]:
variable_x = variable_c + variable_d # นำตัวเลขมาบวกกันได้ 
print(variable_x)

-29.200000000000003

In [17]:
print(variable_b + variable_4) # นำข้อความมาบวกกันได้

 abcde KKU

In [18]:
print(variable_a + variable_b) # นำตัวเลขมาบวกกับข้อความไม่ได้

TypeError: ignored

## Casting int()  float() stri()

เราสามารถเปลี่ยนชนิดของตัวแปรได้

In [19]:
print(variable_x) # ผลบวกเป็น float
print(int(variable_x)) # เปลี่ยนผลบวกเป็นจำนวนเต็มหรือ int

-29.200000000000003
-29

In [20]:
v_x = str(variable_x) # เปลี่ยนให้เป็น string
print(str(variable_x))

-29.200000000000003

In [21]:
v_x + variable_a  # เอามาบวกกันไม่ได้ เนื่องจากเปลี่ยน v_x เป็น string ไปแล้ว

TypeError: ignored

In [22]:
v_x  # แสดงผลออกมามันมี quote แสดงว่าเป็นข้อความหรือ string

'-29.200000000000003'

In [23]:
float(v_x)  # เปลี่ยนเป็น float แสดงผลออกมาจะเป็นตัวเลข

-29.200000000000003

# Data Structure 
## list ()
list เป็นตัวแปรหรือตัวเลขหลายๆตัวมาเรียงต่อๆกัน

In [24]:
list_a = [1,2,0.2,'abs']  # [ ] คือ square brackets , ลำดับใน list มีความสำคัญ
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [25]:
list_a

[1, 2, 0.2, 'abs']

In [26]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [27]:
len(list_b) # เป็นคำสั่งที่เอาไว้ดูว่า list มีสมาชิกทั้งหมดกี่ตัว

4

In [28]:
list_b[3] # ชี้สมาชิกตัวที่ 3 ใน list_b (เริ่มนับตัวแรกเป็นตัวที่ 0)

[1, 2, 0.0]

In [29]:
list_b[3][1] # ชี้สมาชิกตัวที่ 3 ลำดับที่ 1 ใน list_b

2

string คือ list ของ ตัวหนังสือ

In [30]:
a = 'Stat KKU'

In [31]:
a[4]

' '

## วิธีการสร้าง list แบบที่ 2 list ว่าง

In [32]:
list_c = list()  # แบบที่ 1
list_d = [] # แบบที่ 2

In [33]:
list_c

[]

In [34]:
list_d

[]

### เติมค่าลงไปใน list (.append())

In [39]:
list_d.append('a') # ค่าที่เพิ่มเข้าไปจะไปต่อด้านหลังของ list

In [40]:
list_d

['a', 56, 'a']

In [41]:
list_d.append(56)

In [42]:
list_d

['a', 56, 'a', 56]

### การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มต้นจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ **negative index**

In [43]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [44]:
list_b[-1] # -1 ก็จะชี้ตัวท้ายสุดที่อยู่ใน list

[1, 2, 0.0]

### list slicing

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ **[ตัวหน้า:ตัวหลัง)**

In [45]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [46]:
list_ex[1:6]  # เราจะตัด list โดยเอาตั้งแต่ ตัวข้างหน้า ถึง ตัวก่อนหน้าตัวข้างหลัง :

[2, 3, 5, 6, 8]

In [47]:
list_ex[4:]  # เอาตั้งแต่ตัวที่ 4 ไปจนถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [48]:
list_ex[:6]  # เอาตั้งแต่ตัวแรกไปจนถึงตัวก่อนหน้าตัวที่ 6

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น: จุดสุดท้าย: step]

In [49]:
list_ex[::2]  # เอาตั้งแต่ตัวแรกไปจนถึงตัวสุดท้าย step 2 หมายถึง กระโดดไปทีละ 2 ข้ามไปตัวนึง

[1, 3, 6, -1, 50]

In [50]:
list_ex[::-1] # กลับ list เอาตัวแรกไปอยู่ด้านหลัง ตัวหลังมาอยู่ด้านหน้า

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [51]:
list_ex[::3] # กระโดดไปทีละ 3 ข้ามไป 2

[1, 5, -1, 0]

In [52]:
a

'Stat KKU'

In [53]:
a[5:]

'KKU'

In [54]:
a[-3:]

'KKU'

In [55]:
a[5:8]

'KKU'

In [56]:
a[5::]

'KKU'

In [57]:
a[-3::]

'KKU'

### list + list

In [58]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [59]:
list_a + list_b # เราสามารถเอา list มาบวกกันได้

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

### format string

**f'string {ตัวแปร}**   โดย {} เรียกว่า curly brackets

In [60]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop

**ทำงานซ้ำ ๆ หรือทำงานคล้าย ๆ กัน**

for ตัวแปรที่จะรับค่าจาก list in list ที่จะนำมาวนลูป

        do something  # in loop
        do another thing  # in loop

do other thing # out side loop

In [61]:
for  i  in  [1,2,3,4,5] :    # i จะวนเป็นตัวเลขตามใน list ด้านหลัง
      print(i+1)    # i จะแสดงผลออกมาเป็น i+1

2
3
4
5
6

In [62]:
for x in  [1,2,3,4,5] :
      print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [63]:
list5 = [1,2,3,4,5]
for x in list5 :
      print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [64]:
range(10)

range(0, 10)

In [65]:
list(range(10))  # สร้าง list ที่มีค่าเริ่มต้นตั้งแต่ 0 ถึง 10  ตัวเลขตัวเดียวกำหนดแค่จุดจบ

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
for i in range(2,7) :    # มีสองตัวคือกำหนดจุดเริ่มและจุดจบ 
      print (i)

2
3
4
5
6

In [67]:
for i in range(2,7,2) :    # มีสองตัวคือกำหนดจุดเริ่มและจุดจบ กำหนด step คือ 2 แปลว่าข้ามไปตัวนึง
      print (i)

2
4
6

In [68]:
for i in range(5) :  # แบบนี้แปลว่าเราจะวนลูปทั้งหมด 5 รอบ
      print('hahahahahaha')

hahahahahaha
hahahahahaha
hahahahahaha
hahahahahaha
hahahahahaha

In [69]:
for i in range(5) :  # แบบนี้แปลว่าเราจะวนลูปทั้งหมด 5 รอบ
      print('hahahahahaha')
      x = i+3
      print(f'i={i}  x={x}')  # print 2 รอบ แสดงผล 2 บรรทัด

hahahahahaha
i=0  x=3
hahahahahaha
i=1  x=4
hahahahahaha
i=2  x=5
hahahahahaha
i=3  x=6
hahahahahaha
i=4  x=7

##Nested loop

ลูปซ้อนลูป

In [70]:
for i in range(3) :       # ตอนแรกจะเริ่มวนลูปของ i ทีละตัวก่อน แล้วเอาไปจับกับ j ให้ครบทุกตัว 
      print(f'now i = {i}')
      print('start j loop')  
      for j in range(4) :
            print(f' i = {i} j = {j} i+j = {+j}')
      print('end j loop')

now i = 0
start j loop
 i = 0 j = 0 i+j = 0
 i = 0 j = 1 i+j = 1
 i = 0 j = 2 i+j = 2
 i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
 i = 1 j = 0 i+j = 0
 i = 1 j = 1 i+j = 1
 i = 1 j = 2 i+j = 2
 i = 1 j = 3 i+j = 3
end j loop
now i = 2
start j loop
 i = 2 j = 0 i+j = 0
 i = 2 j = 1 i+j = 1
 i = 2 j = 2 i+j = 2
 i = 2 j = 3 i+j = 3
end j loop

### Condition ( if statement )




if  เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=):

      ถ้าเงื่อนไขเป็นจริง  ทำงาน 1
      ถ้าเงื่อนไขเป็นจริง  ทำงาน 2

In [71]:
stringx = 'dujijofplpnbuwduuwjfl[p[p[nidvxaklpl'

if len(stringx) > 30 :
      print(f'{stringx} is longer than 30 characters')

dujijofplpnbuwduuwjfl[p[p[nidvxaklpl is longer than 30 characters

In [72]:
stringx = 'dujijofplpnbuwduuwjfl[p[p[nidvxaklpl'  

if len(stringx) > 100 :     # ถ้ามันไม่เป็นไปตามเงื่อนไขจะไม่แสดงผลลัพธ์ที่ได้ออกมา
      print(f'{stringx} is longer than 100 characters')

if  เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=):

      ถ้าเงื่อนไขเป็นจริง  ทำงาน 1
      ถ้าเงื่อนไขเป็นจริง  ทำงาน 2

 else :  # ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
 
      ทำงานที่ x

In [73]:
stringx = 'dujijofplpnbuwduuwjfl[p[p[nidvxaklpl'  

if len(stringx) > 100 :     
      print(f'{stringx} is longer than 100 characters')  # ถ้าเงื่อนไขนี้ไม่เป็นจริง จะทำตามเงื่อนไขข้างล่างต่อ
else :
      print(f'{stringx} in {len(stringx)} characters long ')

dujijofplpnbuwduuwjfl[p[p[nidvxaklpl in 36 characters long

if  เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=):

      ถ้าเงื่อนไขเป็นจริง  ทำงาน 1    # ตรวจสอบว่าเป็นไปตามเงื่อนไขนี้หรือป่าว ถ้าไม่เป็นจริงจะไปเงื่อนไขต่อไป
      ถ้าเงื่อนไขเป็นจริง  ทำงาน 2

elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :

      ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1    # ข้างบนไม่เป็นจริง จะตรวจสอบเงื่อนไขอันนี้ ถ้าเงื่อนไขไม่เป็นจริงจะตรวจสอบเงื่อนไขต่อไปข้างล่าง
      ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2

elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง :

      ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1    # ข้างบนไม่เป็นจริง จะตรวจสอบเงื่อนไขอันนี้ ถ้าเงื่อนไขไม่เป็นจริงจะตรวจสอบเงื่อนไขต่อไปข้างล่าง
      ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2

else :  # ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง ถึงจะมาทำอันนี้
 
      ทำงานที่ x

In [74]:
password = '12345'

input_pass = '123'
if input_pass == password :   # ถ้าตรงกับ password ที่ตั้งไว้ให้ print คำว่า Welcome! ถ้าไม่ตรงจะต้องตรวจสอบเงื่อนไขต่อไป
      print('Welcome!')
elif  len(input_pass) > len(password) :  # ตรวจสอบว่าความยาวของ input_pass ยาวกว่า password มั้ย ถ้าไม่จะต้องตรวจสอบเงื่อนไขต่อไป
      print('Too long , try again!')
elif  len(input_pass) < len(password) :  # ตรวจสอบว่าความยาวของ input_pass สั้นกว่า password มั้ย ถ้าไม่จะต้องตรวจสอบเงื่อนไขต่อไป
      print('Too short , try again!')
else :
      print('Wrong password , try again')  # เนื่องจากตรวจสอบเงื่อนไขข้างบนทั้งหมดมาแล้วไม่เป็นจริง

Too short , try again!

In [75]:
password = '12345'

input_pass = '123ef'
if input_pass == password :   # ถ้าตรงกับ password ที่ตั้งไว้ให้ print คำว่า Welcome! ถ้าไม่ตรงจะต้องตรวจสอบเงื่อนไขต่อไป
      print('Welcome!')
elif  len(input_pass) > len(password) :  # ตรวจสอบว่าความยาวของ input_pass ยาวกว่า password มั้ย ถ้าไม่จะต้องตรวจสอบเงื่อนไขต่อไป
      print('Too long , try again!')
elif  len(input_pass) < len(password) :  # ตรวจสอบว่าความยาวของ input_pass สั้นกว่า password มั้ย ถ้าไม่จะต้องตรวจสอบเงื่อนไขต่อไป
      print('Too short , try again!')
else :
      print('Wrong password , try again')  # เนื่องจากตรวจสอบเงื่อนไขข้างบนทั้งหมดมาแล้วไม่เป็นจริง

Wrong password , try again

### Quiz 1 หา min

In [76]:
list_ex2 = [1,5,9,-19,-2,0] # หาค่าที่น้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [77]:
min = 0
for x in list_ex2: # ทำการวนซ้ำตามจำนวนในลิสต์
    if x < min : # ถ้าน้อยกว่าค่าต่ำสุดค่าเดิม
        min = x # ให้เปลี่ยนเป็นค่านั้น
print (f'ค่าที่น้อยที่สุด คือ {min}')

ค่าที่น้อยที่สุด คือ -19

In [78]:
min = 0
print(list_ex2)
for x in list_ex2: # ทำการวนซ้ำตามจำนวนในลิสต์
    print(f'now x = {x} , min = {min}')
    print('start condition')
    if x < min : # ถ้าน้อยกว่าค่าต่ำสุดค่าเดิม
        print(f'x < min, update min -> {x}')
        min = x # ให้เปลี่ยนเป็นค่านั้น
    else:
        print('x >= min , not update')
    print('end condition, go to next x')
print (f'ดังนั้น ค่าที่น้อยที่สุด คือ {min}')

[1, 5, 9, -19, -2, 0]
now x = 1 , min = 0
start condition
x >= min , not update
end condition, go to next x
now x = 5 , min = 0
start condition
x >= min , not update
end condition, go to next x
now x = 9 , min = 0
start condition
x >= min , not update
end condition, go to next x
now x = -19 , min = 0
start condition
x < min, update min -> -19
end condition, go to next x
now x = -2 , min = -19
start condition
x >= min , not update
end condition, go to next x
now x = 0 , min = -19
start condition
x >= min , not update
end condition, go to next x
ดังนั้น ค่าที่น้อยที่สุด คือ -19

### Homework 3 ตัดเกรด

In [79]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]  # ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [88]:
for z in score : # ตัดเกรด คะแนนใน list score
    if z >= 80 :
        print(f'score = {z}  grade = A')
    elif z >= 75 and z < 80 :
        print(f'score = {z}  grade = B+')
    elif z >= 70 and z < 75:
        print(f'score = {z}  grade = B')
    elif z >= 65 and z < 70:
        print(f'score = {z}  grade = C+')
    elif z >= 60 and z < 65:
        print(f'score = {z}  grade = C')
    elif z >= 55 and z < 60:
        print(f'score = {z}  grade = D+')
    elif z >= 50 and z < 55:
        print(f'score = {z}  grade = D')
    else:
        print(f'score = {z}  grade = F')

score = 49  grade = F
score = 65  grade = C+
score = 70  grade = B
score = 95  grade = A
score = 82  grade = A
score = 55  grade = D+
score = 89  grade = A
score = 20  grade = F
score = 77  grade = B+
score = 77  grade = B+
score = 81  grade = A
score = 59  grade = D+
score = 10  grade = F

### Function