<a href="https://colab.research.google.com/github/Wikanda-Hongboonmee/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน **Textbox** จะเป็นภาษา **Markdown** คือ ใช้เครื่องหมายในการแสดงผล เช่น **#** ตัวใหญ่ * ตัวหนา

**ข้อดีหนึ่งของ Python** คือมี Package สำหรับการทำงานต่างๆมากมายให้เราเลือกใช้ 

ซึ่ง Pandas เป็น Package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบของตาราง 

โดย Pandas จะเรียกตารางนั้นว่า **Data Frame**

In [5]:
import pandas  # เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูล , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package

In [7]:
import pandas as pd  # การ import package อีกแบบหนึ่ง เหมือนกับด้านบน แต่ว่ามีการตั้งชื่อให้กับ Package ที่โหลดมาใหม่ว่า pd

ไฟล์ที่จะได้เจอส่วนใหญ่ในวิชานี้เป็นไฟล์ .csv ( **CSV = comma seperated values** )  เป็นไฟล์หลักที่เราจะได้ใช้ในวิชานี้ 

เป็นไฟล์ที่ใช้เก็บข้อมูลตาราง ที่เข้าใจได้ง่าย ใช้ comma ในการแบ่งข้อมูลแต่ละตัว ใช้ enter ในการแบ่ง record

In [10]:
data_df = pd.read_csv( 'data.csv' )  # เรียกใช้ไฟล์ csv ที่เราต้องการ โดย pd.read_csv ( 'ชื่อไฟล์' )

In [11]:
data_df   # แสดงผลไฟล์ data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [12]:
data_df2 = pandas.read_csv( 'data.csv' ) 
data_df2  # แสดงผลไฟล์ data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

#  Basic Python 
## Variables

**ข้อกำหนดในการตั้งตัวแปร**

1.   ชื่อห้ามมีเว้นวรรค
2.   ใช้ภาษาอังกฤษ ( เป็นไปได้ควรใช้ภาษาอังกฤษเสมอ )
3.   ตัวเล็กกับตัวใหญ่แตกต่างกัน ( case sensitive )
4.    ห้ามใช้ตัวเลขเป็นตัวหน้า

In [17]:
variable_a = 12  # สร้างตัวแปรขึ้นมาใหม่โดยกำหนดให้ตัวแปร variable_a มีค่าเท่ากับ 12 (เป็นตัวเลข)
variable_b = ' abcde '   # ' ' เรียกว่า quote เอาไว้ตอนจะพิมพ์ข้อความ (string)
variable_c = variable_a  # ค่าของ variable_c เท่ากับ variable_a เรากำหนดค่าอะไรให้มัน มันจะเปลี่ยนตามตัวแปรนั้นๆ

In [14]:
variable_a

12

In [15]:
variable_b

' abcde '

In [16]:
variable_c

12

In [19]:
variable a = 6  # ชื่อตัวแปรห้ามมีเว้นวรรค

SyntaxError: ignored

In [18]:
ตัวแปร = 3     #  colab ใช้ภาษาไทยในการตั้งชื่อตัวแปรได้แต่ว่าเป็นไปได้ไม่ควรใช้ภาษาไทย
ตัวแปร

3

In [20]:
v_a = 1    # ตัวเล็กกับตัวใหญ่แตกต่างกัน ( case sensitive )
v_A = 2
print(v_a) # เนื่องจากมีตัวแปร 2 ตัว จึงใช้คำสั่ง print เป็นคำสั่งที่ใช้แสดงผลตัวแปร
print(v_A)

1
2

In [22]:
v_a = 1    # ตัวเล็กกับตัวใหญ่แตกต่างกัน ( case sensitive )
v_a = 2    # ค่ามันทับกัน จะแสดงผลค่าล่าสุดที่กำหนดให้แก่ตัวแปรนั้น ๆ 
print(v_a) # เนื่องจากมีตัวแปร 2 ตัว จึงใช้คำสั่ง print เป็นคำสั่งที่ใช้แสดงผลตัวแปร
print(v_a)

2
2

In [23]:
2_a = 1   #  ห้ามใช้ตัวเลขเป็นตัวหน้า

SyntaxError: ignored

In [24]:
variable_a = 12  # สร้างตัวแปรขึ้นมาใหม่โดยกำหนดให้ตัวแปร variable_a มีค่าเท่ากับ 12 (เป็นตัวเลข)
variable_b = ' abcde '   # ' ' เรียกว่า quote เอาไว้ตอนจะพิมพ์ข้อความ (string)
variable_c = variable_a  # ค่าของ variable_c เท่ากับ variable_a เรากำหนดค่าอะไรให้มัน มันจะเปลี่ยนตามตัวแปรนั้นๆ
variable_d = -41.2  # ตัวเลขสามารถอยู่ด้านหลังตัวแปรได้ แต่นำหน้าตัวแปรไม่ได้
variable_4 = "KKU"   # เราสามารถใช้ double quote แทน quote ได้

In [28]:
variable_x = variable_c + variable_d # นำตัวเลขมาบวกกันได้ 
print(variable_x)

-29.200000000000003

In [27]:
print(variable_b + variable_4) # นำข้อความมาบวกกันได้

 abcde KKU

In [29]:
print(variable_a + variable_b) # นำตัวเลขมาบวกกับข้อความไม่ได้

TypeError: ignored

## Casting int()  float() stri()

เราสามารถเปลี่ยนชนิดของตัวแปรได้

In [31]:
print(variable_x) # ผลบวกเป็น float
print(int(variable_x)) # เปลี่ยนผลบวกเป็นจำนวนเต็มหรือ int

-29.200000000000003
-29

In [33]:
v_x = str(variable_x) # เปลี่ยนให้เป็น string
print(str(variable_x))

-29.200000000000003

In [35]:
v_x + variable_a  # เอามาบวกกันไม่ได้ เนื่องจากเปลี่ยน v_x เป็น string ไปแล้ว

TypeError: ignored

In [36]:
v_x  # แสดงผลออกมามันมี quote แสดงว่าเป็นข้อความหรือ string

'-29.200000000000003'

In [37]:
float(v_x)  # เปลี่ยนเป็น float แสดงผลออกมาจะเป็นตัวเลข

-29.200000000000003

# Data Structure 
## list ()
list เป็นตัวแปรหรือตัวเลขหลายๆตัวมาเรียงต่อๆกัน

In [41]:
list_a = [1,2,0.2,'abs']  # [ ] คือ square brackets , ลำดับใน list มีความสำคัญ
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [42]:
list_a

[1, 2, 0.2, 'abs']

In [43]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [44]:
len(list_b) # เป็นคำสั่งที่เอาไว้ดูว่า list มีสมาชิกทั้งหมดกี่ตัว

4

In [45]:
list_b[3] # ชี้สมาชิกตัวที่ 3 ใน list_b (เริ่มนับตัวแรกเป็นตัวที่ 0)

[1, 2, 0.0]

In [46]:
list_b[3][1] # ชี้สมาชิกตัวที่ 3 ลำดับที่ 1 ใน list_b

2

string คือ list ของ ตัวหนังสือ

In [47]:
a = 'Stat KKU'

In [48]:
a[4]

' '

## วิธีการสร้าง list แบบที่ 2 list ว่าง

In [49]:
list_c = list()  # แบบที่ 1
list_d = [] # แบบที่ 2

In [50]:
list_c

[]

In [51]:
list_d

[]

### เติมค่าลงไปใน list (.append())

In [58]:
list_d.append('a') # ค่าที่เพิ่มเข้าไปจะไปต่อด้านหลังของ list

In [59]:
list_d

['a', 'a', 56, 'a']

In [60]:
list_d.append(56)

In [61]:
list_d

['a', 'a', 56, 'a', 56]

### การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มต้นจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ **negative index**

In [62]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [64]:
list_b[-1] # -1 ก็จะชี้ตัวท้ายสุดที่อยู่ใน list

[1, 2, 0.0]

### list slicing

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ **[ตัวหน้า:ตัวหลัง)**

In [65]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [68]:
list_ex[1:6]  # เราจะตัด list โดยเอาตั้งแต่ ตัวข้างหน้า ถึง ตัวก่อนหน้าตัวข้างหลัง :

[2, 3, 5, 6, 8]

In [69]:
list_ex[4:]  # เอาตั้งแต่ตัวที่ 4 ไปจนถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [70]:
list_ex[:6]  # เอาตั้งแต่ตัวแรกไปจนถึงตัวก่อนหน้าตัวที่ 6

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น: จุดสุดท้าย: step]

In [73]:
list_ex[::2]  # เอาตั้งแต่ตัวแรกไปจนถึงตัวสุดท้าย step 2 หมายถึง กระโดดไปทีละ 2 ข้ามไปตัวนึง

[1, 3, 6, -1, 50]

In [74]:
list_ex[::-1] # กลับ list เอาตัวแรกไปอยู่ด้านหลัง ตัวหลังมาอยู่ด้านหน้า

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [75]:
list_ex[::3] # กระโดดไปทีละ 3 ข้ามไป 2

[1, 5, -1, 0]

In [76]:
a

'Stat KKU'

In [79]:
a[5:]

'KKU'

In [80]:
a[-3:]

'KKU'

In [81]:
a[5:8]

'KKU'

In [82]:
a[5::]

'KKU'

In [86]:
a[-3::]

'KKU'

### list + list

In [87]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [89]:
list_a + list_b # เราสามารถเอา list มาบวกกันได้

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

### format string

**f'string {ตัวแปร}**   โดย {} เรียกว่า curly brackets

In [96]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop

for ตัวแปรที่จะรับค่าจาก list in list ที่จะนำมาวนลูป

        do something

In [94]:
for  i  in  [1,2,3,4,5] :    # i จะวนเป็นตัวเลขตามใน list ด้านหลัง
      print(i+1)    # i จะแสดงผลออกมาเป็น i+1

2
3
4
5
6

In [97]:
for x in  [1,2,3,4,5] :
      print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [98]:
list5 = [1,2,3,4,5]
for x in list5 :
      print(f'ค่าตัวแปร x คือ {x} และ x+2 = {x+2}')

ค่าตัวแปร x คือ 1 และ x+2 = 3
ค่าตัวแปร x คือ 2 และ x+2 = 4
ค่าตัวแปร x คือ 3 และ x+2 = 5
ค่าตัวแปร x คือ 4 และ x+2 = 6
ค่าตัวแปร x คือ 5 และ x+2 = 7

In [102]:
range(10)

range(0, 10)

In [103]:
list(range(10))  # สร้าง list ที่มีค่าเริ่มต้นตั้งแต่ 0 ถึง 10  ตัวเลขตัวเดียวกำหนดแค่จุดจบ

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
for i in range(2,7) :    # มีสองตัวคือกำหนดจุดเริ่มและจุดจบ 
      print (i)

2
3
4
5
6

In [106]:
for i in range(2,7,2) :    # มีสองตัวคือกำหนดจุดเริ่มและจุดจบ กำหนด step คือ 2 แปลว่าข้ามไปตัวนึง
      print (i)

2
4
6

In [107]:
for i in range(5) :  # แบบนี้แปลว่าเราจะวนลูปทั้งหมด 5 รอบ
      print('hahahahahaha')

hahahahahaha
hahahahahaha
hahahahahaha
hahahahahaha
hahahahahaha

In [108]:
for i in range(5) :  # แบบนี้แปลว่าเราจะวนลูปทั้งหมด 5 รอบ
      print('hahahahahaha')
      x = i+3
      print(f'i={i}  x={x}')  # print 2 รอบ แสดงผล 2 บรรทัด

hahahahahaha
i=0  x=3
hahahahahaha
i=1  x=4
hahahahahaha
i=2  x=5
hahahahahaha
i=3  x=6
hahahahahaha
i=4  x=7

##Nested loop

ลูปซ้อนลูป

In [111]:
for i in range(3) :       # ตอนแรกจะเริ่มวนลูปของ i ทีละตัวก่อน แล้วเอาไปจับกับ j ให้ครบทุกตัว 
      print(f'now i = {i}')
      print('start j loop')  
      for j in range(4) :
            print(f' i = {i} j = {j} i+j = {+j}')
      print('end j loop')

now i = 0
start j loop
 i = 0 j = 0 i+j = 0
 i = 0 j = 1 i+j = 1
 i = 0 j = 2 i+j = 2
 i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
 i = 1 j = 0 i+j = 0
 i = 1 j = 1 i+j = 1
 i = 1 j = 2 i+j = 2
 i = 1 j = 3 i+j = 3
end j loop
now i = 2
start j loop
 i = 2 j = 0 i+j = 0
 i = 2 j = 1 i+j = 1
 i = 2 j = 2 i+j = 2
 i = 2 j = 3 i+j = 3
end j loop

### Condition
### Function